$primaryColor: #465a9c;
$secondaryColor: rgb(170, 80, 155);
$darkbg: #070c15;

$fontExtentions: "ttf";
$fontFamilies: "Nunito-Black", "Nunito-Regular", "Nunito-SemiBold",
  "Nunito-Bold", "Nunito-ExtraBold";
$ArabicFontFamilies: "Almarai-Bold", "Almarai-ExtraBold", "Almarai-Light",
  "Almarai-Regular";
